.logoTree {
  height: 600px;
  width: 600px;
  position: relative;
}

.redDot {
  position: absolute;
  top: 72px;
  left: 457px;
}

.blueDot {
  position: absolute;
  top: 48px;
  left: 276px;
}

.greenDot {
  position: absolute;
  top: 336px;
  left: 145px;
}

.leftBlackDot {
  position: absolute;
  top: 192px;
  left: 49px;
}

.rightBlackDot {
  position: absolute;
  top: 289px;
  left: 422px;
}
